<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      <div>
        <fa name="leaf" size="4x"></fa>
      </div>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" title="Dashboard">
        <fa name="tachometer" size="3x"></fa>
      </a>
      <a mat-list-item href="#" title="Análise quimíco">
        <fa name="flask" size="3x"></fa>
      </a>
      <a mat-list-item href="#" title="Alertas">
        <fa name="exclamation-triangle" size="3x"></fa>
      </a>
      <a mat-list-item href="#" title="Gráficos">
        <fa name="bar-chart" size="3x"></fa>
      </a>
      <a mat-list-item href="#" title="Configurações">
        <fa name="cogs" size="3x"></fa>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="sidenav-ds ts-fundo" >
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="h1 title-tab">Dashboard</span>
      <div class="col-md-1 ml-auto text-right">
        <fa name="sign-out title-tab" size="2x"></fa>
      </div>
    </mat-toolbar>
    <div class="container">
      <span class="ds-motor"></span>
    </div>
    <!-- <h1 class="display-4">Display 4</h1> -->
  </mat-sidenav-content>
</mat-sidenav-container>